@model AirplaneViewModel
@{
    Layout = "_AdminSidebar";
}

<h2 class="text-center">Edit Airplane</h2>
<div class="row m-1">
    <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <partial name="_FormSummary" />
        <hr />
        <form asp-action="EditAirplane" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" />
            <input asp-for="AirlineImageId" type="hidden" />
            <div class="form-group mb-3">
                <label asp-for="Airline" class="form-label"></label>
                <input asp-for="Airline" class="form-control" />
                <span asp-validation-for="Airline" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AirplaneModelId" class="control-label"></label>
                <select asp-for="AirplaneModelId" asp-items="Model.AirplaneModels" class="form-control"></select>
                <span asp-validation-for="AirplaneModelId" class="text-danger"></span>
                <span><a asp-action="CreateAirplaneModel">Add a new airplane model.</a></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FCSeats" class="form-label"></label>
                <input asp-for="FCSeats" class="form-control" />
                <span asp-validation-for="FCSeats" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ESeats" class="form-label"></label>
                <input asp-for="ESeats" class="form-control" />
                <span asp-validation-for="ESeats" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AirlineImage" class="form-label"></label>
                <input asp-for="AirlineImage" type="file" class="form-control" />
                <span asp-validation-for="AirlineImage" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.AirlineImageId))
                {
                    <div class="my-3">
                        <label class="form-label me-2">Old Image:</label>
                        <img src="@Model.AirlineImagePath" alt="Airline Image" style="max-width: 200px; max-height: 100px;" />
                    </div>
                }
            </div>
            <div class="form-group mb-3">
                <input asp-for="Deleted" class="btn-check" type="checkbox" />
                <label asp-for="Deleted" class="btn btn-outline-danger"></label>
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Save Values</button>
                <a asp-action="Airplanes" role="button" class="btn btn-secondary">Return</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}