@{
    Layout = "_AdminSidebar";
}

<div id="dashboard-main-content">
    <div id="dashboard-content-above">Welcome, @ViewBag.FullName</div>
    <div id="dashboard-content">
        <ejs-dashboardlayout id="defaultLayout" columns="3" cellSpacing="[20, 10]" allowDragging="false" allowFloating="false" allowResizing="false" mediaQuery="(max-width: 992px)">
            <e-content-template>
                <div id="users" class="e-panel link-admin-users" data-col="0">
                    <div class="e-panel-container">
                        <div class="text-align">Users</div>
                    </div>
                </div>
                <div id="items" class="e-panel link-admin-airplanes" data-col="1">
                    <div class="e-panel-container">
                        <div class="text-align">Airplanes</div>
                    </div>
                </div>
                <div id="location" class="e-panel link-admin-cities" data-col="2">
                    <div class="e-panel-container">
                        <div class="text-align">Cities</div>
                    </div>
                </div>
            </e-content-template>
        </ejs-dashboardlayout>
    </div>
</div>