#seat-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: rgba(248,249,250,1);
    border-radius: .25rem;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    min-height: 100px;
    min-width: 200px;
}

.seat-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px 0;
}

.seats-left, .seats-center, .seats-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seats-center {
    margin: 0 24px;
}

.seat {
    width: 22px;
    height: 22px;
    background: #007bff;
    border-radius: 4px;
    margin: 0 2px;
    display: inline-block;
    border: 1px solid #fff;
}

    .seat.unavailable {
        background: #adb5bd;
    }

    .seat.occupied {
        background: #28a745;
    }

    .seat.selected {
        border: 3px solid #343a40;
    }