#seat-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e9ecef;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.seat-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px 0;
}

.seats-left, .seats-center, .seats-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seats-center {
    margin: 0 24px;
}

.seat {
    width: 22px;
    height: 22px;
    background: #007bff;
    border-radius: 4px;
    margin: 0 2px;
    display: inline-block;
    border: 1px solid #fff;
}