html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    z-index: 1010;
}

.table-image {
    max-width: 8em;
    max-height: 40px;
    width: auto;
}

/* DataTables */
#role-select {
    display: inline-block;
    width: auto;
    margin-left: .5em;
}

.row-disabled {
    background-color: #343a40 !important; /* Bootstrap dark */
    color: #fff !important;
    opacity: 0.85;
}

@media screen and (max-width: 767px) {
    .dataTable-feature {
        text-align: center;
    }
}

/* ===== Hide input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}