@model FlightViewModel
@{
    ViewBag.Title = "Edit Flight";
}

<h2 class="text-center">Edit Scheduled Flight</h2>
<div class="row">
    <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <partial name="_FormSummaryPartial" />
        <hr />
        <form asp-action="Create">
            <div id="step1" class="step">
                <div class="form-group mb-3">
                    <label asp-for="AirplaneId" class="control-label"></label>
                    <select asp-for="AirplaneId" asp-items="Model.Airplanes" class="form-control"></select>
                    <span asp-validation-for="AirplaneId" class="text-danger"></span>
                </div>

                <!-- Add calendar here -->
                <div id="weekly-calendar" class="mb-4"></div>

                <div class="form-group d-flex justify-content-between">
                    <a asp-action="Edit" role="button" class="btn btn-secondary">Return</a>
                    <button type="button" class="btn btn-primary paging-wz" step="2">Next</button>
                </div>
            </div>
            <div id="step2" class="step d-none">
                <div class="form-group mb-3">
                    <label asp-for="DepartureCityId" class="control-label"></label>
                    <ejs-dropdownlist ejs-for="DepartureCityId" dataSource="@Model.Cities" placeholder="Select a city" filterBarPlaceholder="Search" allowFiltering="true">
                        <e-dropdownlist-fields text="Text" value="Value"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="DepartureCityId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ArrivalCityId" class="control-label"></label>
                    <ejs-dropdownlist ejs-for="ArrivalCityId" dataSource="@Model.Cities" placeholder="Select a city" filterBarPlaceholder="Search" allowFiltering="true">
                        <e-dropdownlist-fields text="Text" value="Value"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="ArrivalCityId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group mb-3">
                    <label asp-for="DayOfWeek" class="form-label"></label>
                    <select asp-for="DayOfWeek" class="form-control">
                        <option value="0">Sunday</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                    </select>
                    <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DepartureTime" class="form-label"></label>
                    <input asp-for="DepartureTime" class="form-control" />
                    <span asp-validation-for="DepartureTime" class="text-danger"></span>
                </div>
                <br />
                <h4>Flight Duration</h4>
                <div class="form-group mb-3">
                    <label asp-for="Hours" class="form-label"></label>
                    <input asp-for="Hours" class="form-control" />
                    <span asp-validation-for="Hours" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Minutes" class="form-label"></label>
                    <input asp-for="Minutes" class="form-control" />
                    <span asp-validation-for="Minutes" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary paging-wz" step="1">Back</button>
                    <button type="button" class="btn btn-primary paging-wz" step="3">Next</button>
                </div>
            </div>

            <div id="step3" class="step d-none">
                <div class="form-group mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ChildPricePercentage" class="form-label"></label>
                    <input asp-for="ChildPricePercentage" class="form-control" />
                    <span asp-validation-for="ChildPricePercentage" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="BabyPricePercentage" class="form-label"></label>
                    <input asp-for="BabyPricePercentage" class="form-control" />
                    <span asp-validation-for="BabyPricePercentage" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="Deleted" class="btn-check" type="checkbox" />
                    <label asp-for="Deleted" class="btn btn-outline-danger"></label>
                    <span asp-validation-for="Deleted" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary paging-wz" step="2">Back</button>
                    <input type="submit" value="Save Values" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/29.1.33/fluent.css" />
    <link rel="stylesheet" href="~/css/paging-wizard.min.css" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.syncfusion.com/ej2/29.1.33/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    <script src="~/js/paging-wizard.min.js"></script>
    <script src="~/js/flights-crud.min.js"></script>
}