@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h5>Don't have an account? <a href="@Url.Action("Register","Account")">Click here to create one.</a></h5>
</div>
