@{
    ViewBag.Title = "Test Page";
}

<h2 class="text-center">Book Flight</h2>
<div class="row m-1">
    <div class="col col-12 col-lg-10 offset-lg-1 ">
        <hr />
        <div class="row m-1">
            <div class="col col-12 col-md-6">
                Values
            </div>
            <div class="col col-12 col-md-6">
                Values2
            </div>
        </div>
    </div>
</div>